# copy to .env
# Settings that are good for local dev without changes
# NEVER for production

# debug mode: yes|no
DEBUG=yes

# this secret is used in dev
SECRET_KEY=django-insecure-)r1=%t9asg#7!eq=w_sl=h5q2eh0r9$@-cxu6uk@2a7l)am#=-

# comma-separated host from which requests are allowed. Leaving blank is OK for localhost dev
ALLOWED_HOSTS=localhost,127.0.0.1


DATABASE_URL=postgres://postgres@127.0.0.1:5432/reptile
