{% extends 'loggedin.html' %}

{% load django_bootstrap5 %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-6 mb-4">
            <h2>Messages</h2>
            {% for message in messages %}
                <div class="card mb-2">
                    <div class="card-body">
                        {{ message.content }}<br/>
                        <small class="text-muted">Posted by: {{ message.user }}</small>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="col-lg-6 mb-4">
            <h2>Create New Run</h2>
            <a href="{% url 'new' %}" class="btn btn-primary">Create New Run</a>
        </div>
    </div>

	<div class="row">
		<h2>Runs</h2>
	</div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Created</th>
                <th scope="col">Started</th>
                <th scope="col">Completed</th>
            </tr>
        </thead>
        <tbody>
            {% for t in trainings %}
            <tr>
                <td>
                	<a href="{% url 'view' t.pk %}">
						{{ t.id }}: {{ t.name }}
					</a>
                </td>
                <td>{{ t.type }}</td>
                <td>{{ t.created }}</td>
                <td>{{ t.started|default:"--"  }}</td>
                <td>{{ t.completed|default:"--" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


	<div class="row">
		<div class="col-12">
			&nbsp;
		</div>
    </div>

    <div class="row">
        <div class="col-lg-6 mb-4">
            <h2>Statistics</h2>
            <div class="card">
                <div class="card-body">
                    Total Runs: {{ stats.total_runs }}<br/>
                    Average Run Time: {{ stats.average_run_time }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
