{% extends 'loggedin.html' %}

{% load django_bootstrap5 %}

{% block title %}View Object{% endblock %}

{% block body %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Params</th>
                <th scope="col">Created</th>
                <th scope="col">Started</th>
                <th scope="col">Status</th>
                <th scope="col">Completed</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ object.id }}: {{ object.name }}</td>
                <td>{{ object.type }}</td>
                <td>{{ object.params }}</td>
                <td>{{ object.created }}</td>
                <td>{{ object.started|default:"--"  }}</td>
				<td>{{ object.status }}
					({{ object.status_timestamp|default:"--" }})</td>
                <td>{{ object.completed|default:"--" }}</td>
            </tr>
        </tbody>
    </table>

    <br />

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Step</th>
                <th scope="col">Performance Graph</th>
                <th scope="col">Performance Stats</th>
            </tr>
        </thead>
        <tbody>
        	<tr>
        		<td>ESN</td>
        		<td>
        			{% if esn_graph_image|length %}
					<img src="data:image/png;base64,{{ esn_graph_image }}"
						 alt="ESN Performance Graph">
					{% else %}
						ESN performance graph not available.
					{% endif %}
        		</td>
        		<td></td>
        	</tr>
        	<tr>
        		<td>Autoencoder</td>
        		<td>
        			{% if autoencoder_graph_image|length %}
					<img src="data:image/png;base64,{{ autoencoder_graph_image }}"
						 alt="Autoencoder Performance Graph">
					{% else %}
						Autoencoder performance graph not available.
					{% endif %}
        		</td>
        		<td></td>
        	</tr>
        </tbody>
    </table>

{% endblock %}
