{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block title %}Home{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<body class="d-flex h-100 text-center text-white bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start mb-0">Company Name</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Contact</a>
		  <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
        </nav>
      </div>
    </header>

	{% block body %}
	{% endblock %}

    <footer class="mt-auto text-white-50">
      <p>© 2023 Company, Inc.</p>
    </footer>
  </div>
</body>

{% else %}
<body class="d-flex h-100 text-center text-white bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start mb-0">Company Name</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
		  <a class="nav-link" href="{% url 'login' %}">Log In</a>
        </nav>
      </div>
    </header>

    <footer class="mt-auto text-white-50">
      <p>© 2023 Company, Inc.</p>
    </footer>
  </div>
</body>

{% endif %}

{% endblock %}
